//  color
$white: #ffffff;
$black: #000000;
$black-2: #000001;
$light-gray: #ebebeb;
$light-gray-2: #fefefe;
$gray: #898989;
$dark-gray: #494949;
$blue: #00aedb;
$dark-blue: #5261ac;
$green: #b5da06;
$green-2: #8cc63f;
$orange: #f78f1d;
$red: #ff0000;
$pink: #ec098d;
